<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Нүүр</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/adduser">Хүн нэмэх</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/connectparents">Эцэг/Эх ба хүүхэд холбох</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/connectpartner">Эхнэр/Нөхөр холбох</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/firstlevel">Нэг үе харуулах</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="/resultfirstlevel">Result First Level</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="/shortestpath">Холбоо хамаарал харуулах</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="/resultshortestpath">Path</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="/searchperson">Хэрэглэгч хайх</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/firstlevelV2">Нэг үе харуулах V2</a>
      </li>
    </ul>
  </nav>
  